

body {
    margin: 0;
    padding: 0;
    border: 0;
    }
    
    #container {
    width:   920px;
    margin: 30px auto;
    padding: 0;
    border: 0;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    }
    
    #masthead {
    width:   920px;
    overflow: hidden;
    margin: 0;
    border: 0;
    }
    
    #iMenu {
    width:   920px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    }
    
    #column_l {
    position: relative;
    margin: 0;
    left: 50px;
    }
    
    #column_r {
    position: relative;
    margin: 0;
    left: 85px;
    }
    
    #content {
    width: 890px;
    margin: 0;
    padding: 15px;
    border: 0;
    }
    
    #footer {
    width: 100%;
    overflow: auto;
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
    }
    
    body {
        /*/font-family: Georgia, "Times New Roman", Times, serif;*/
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        color: #333;
        background-color: #a1bad1;
        line-height=1.48;
    }
    #masthead {
        text-align: left;
        background-color: #fff;
        background-image: url('../images/blue-sky.png');
        background-repeat: no-repeat;
    }
    #navigation {
        /* border-top: 1px solid #808080;
        border-bottom: 1px solid #808080;*/
        padding-top: 10px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        /*padding-left: 0px;*/
        /*margin-left: 65px;*/
        margin-right: 65px;
    
    }
    #container {
        border-top: 0px solid #595959;
        border-right: 0px solid #595959;
        border-bottom: 0px solid #595959;
        border-left: 0px solid #595959;
        background-color: #fff;
    }
    html>body #navigation {
        overflow: hidden;
    }
    #column_l {
        width: 897px;
        padding: 20px 15px 30px 15px;
        background-color: #fff;
    }
    html>body #column_l {
        width: 800px;
        padding: 20px 15px 0 15px;
        background-color: #fff;
    }
    #column_r {
        width: 197px;
        padding: 15px 10px;
        background-color: #fff;
    }
    html>body #column_r {
        width: 200px;
        padding: 35px 10px 15px 10px;
        background-color: #fff;
    }
    #content {
        background-color: #fff;
    }
    #footer {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    html>body #footer {
        text-align: center;
        padding-bottom: 0;
    }
    /* Masthead */
    #masthead h1 {
        font-weight: bold;
        font-style: italic;
        color: #fff;
        margin-bottom: 0;
        margin-left: 2em;
    }
    #masthead h3 {
        font-weight: bold;
        font-style: italic;
        color: #fff;
        margin-top: 0;
        margin-left: 3.5em;
    }
    
    #navigation ul {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    #navigation li {
        /*float: left;*/
        float: left;
    }
    li {
        margin: 0 0 5px 0;
    }
    
    #navigation a {
        border-style: solid;
        border-width: 0px;
        /*font-weight: bold;*/
        text-decoration: none;
        color: #337ab7;
        display: block;
        padding: 5px;
    }
    #navigation a:hover {
        /*font-weight: bold;*/
        text-decoration: none;
        /*color: #3366FF;*/
        border: 0px solid #b9d;
        border-radius: 5%;
        background-color: #DCDCDC;*/
    }
    
    #column_r img {
        border: 1px solid #808080;
    }
    
    img {
        border-radius: 5%;
    }
    
    h1 {
        font-size: xx-large;
        color: #000;
    }
    h2 {
        font-size: x-large;
        color: #000;
    }
    h3 {
        font-size: large;
        /*font-style: italic;*/
        color: #000;
    }
    h4 {
        font-size: medium;
        /*font-style: italic;*/
        color: #000;
    }
    h5 {
        font-size: small;
        color: #000;
        margin-block-start: 2em;
        margin-block-end: 0.8em;
    
        margin-block-end: 0.8em;
        
    }
    h6 {
        font-size: x-small;
        color: #000;
    }
    
    #footer p {
        font-size: x-small;
        color: #000;
    }
    
    #footer button {
        height: 17px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: text
    }
    
    a {
        color: #1655e8;/*#0000ff;*/
        /*text-decoration: underline;*/
        text-decoration: none;
    }
    a:hover {
        color: #0000ff;
        text-decoration: underline;
    }
    .style_bold {
        font-weight: bold;
    }
    .style_italic {
        font-style: italic;
    }
    
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 12px;  /* Preferred icon size */ 
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      color: #000;
    }
    
    